body {
    font-family: monospace;
    background: #111;
    color: #0f0;
    padding: 10px;
}

#terminal {
    white-space: pre-wrap;
    margin-bottom: 1em;
}

input {
    background: none;
    border: none;
    color: #0f0;
    font-family: monospace;
    width: 90%;
    outline: none;
}
